<IfModule mod_rewrite.c>
 Options +SymLinksIfOwnerMatch
 RewriteEngine On
#import
	RewriteBase /
	RewriteCond %{THE_REQUEST} ^.*/index\.php  
	RewriteRule ^(.*)index.php$ /$1 [R=301,L]
    RewriteRule ^redirect /import.php [L,QSA]
</IfModule>